<div class="container">
  <div class="row">
    <div class="col-sm-11" >
      <h2>
        <%= link_to 'My Projects', my_projects_path %> 
        | 
        <%= link_to @project.repo_name, project_path(@project.user_name, @project.repo_name) %>
      </h2>
    </div>
    <%= render 'shared/build_status' %>
  </div>
  <p>
    <%= @repo.description %>
  </p>
  <p>
    Your project is published at <%= link_to @project.uri_root, @project.uri_root %> 
    <br />

  </p>
  <div class="row">
    <div class="col-sm">
      <h3>Audio Files</h3>
      <ul class="list-group">
        <% @folders.each do |folder| %>

        <li class="list-group-item">
          <%= link_to(File.basename(folder), item_path(@project.user_name, @project.repo_name, File.basename(folder))) %>
        </li>
        <% end %>
      </ul>
      <%= link_to "New Item Manifest", new_item_path(@project.user_name, @project.repo_name), class: "btn btn-primary" %>
    </div>
  </div>
</div>