
<%= link_to 'My Projects', my_projects_path %><br/>

<%= link_to @repo.name, @repo.url %>
<p>
  <%= @repo.description %>
</p>

<div>
  <h3>Items</h3>
  <ul>
    <% @folders.each do |folder| %>

      <li>
        <%= link_to(File.basename(folder), item_path(@project.user_name, @project.repo_name, File.basename(folder))) %>
      </li>
    <% end %>
  </ul>
  <%= link_to "New Item", new_item_path(@project.user_name, @project.repo_name) %>
</div>
