<div class="container">
  <div class="row">
    <div class="col-sm-11" >
      <h2>
        <%= link_to 'My Projects', my_projects_path %> 
        | 
        <%= link_to @project.repo_name, project_path(@project.user_name, @project.repo_name) %>
      </h2>
    </div>
    <%= render 'shared/build_status' %>
  </div>
  <p>
    <%= @repo.description %>
  </p>
  <p>
    Your project is published at <%= link_to @project.uri_root, @project.uri_root %> 
    <br />
    You can add introductory material by modifying <%= link_to 'index.markdown', "https://github.com/#{@project.user_name}/#{@project.repo_name}/edit/gh-pages/index.markdown" %>

  </p>
  <% if @item_count > 0 %>
    <div class="row">
      <div class="col-sm">
        <h3>Publication Layout</h3>
        <p>Your project can be presented using either the Universal Viewer or the Aviary Player to present media.  Annotation-centered projects like digital editions generally work better with Universal Viewer, while media-centered project like exhibitions may benefit from the Aviary Player.  You can change viewers at any time.</p>
        <% if @project.aviary_layout %>
          <p>Your project is currently using the <b>Aviary Player</b></p>
          <%= button_to 'Use Universal Viewer', toggle_layout_path(@project.user_name, @project.repo_name, uv: true), class: "btn btn-primary" %>
        <% else %>
          <p>Your project is currently using the <b>Universal Viewer</b></p>
          <%= button_to 'Use Aviary', toggle_layout_path(@project.user_name, @project.repo_name, aviary: true), class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm">
      <h3>Audiovisual Items and Pages</h3>
      <table class="table table-light">
        <% @project.navigation.each_with_index do |nav_path,i| %>

        <tr>
          <td>
            <%= link_to(File.basename(nav_path), item_path(@project.user_name, @project.repo_name, File.basename(nav_path))) %>
          </td>

          <td>
            <% unless i == 0 %>
              <%= link_to(raw('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16"> <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"/> </svg>'), 
                          move_up_page_path(@project.user_name, 
                                            @project.repo_name, 
                                            File.basename(nav_path).sub(File.extname(nav_path),''))) %>
            <%end%>
          </td>
          <td>
            <% unless i == @project.navigation.size - 1 %>
              <%= link_to(raw('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16"> <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/> </svg>'), 
                          move_down_page_path(@project.user_name, 
                                              @project.repo_name, 
                                              File.basename(nav_path).sub(File.extname(nav_path),''))) %>
            <%end%>
  
          </td>
        </tr> 
        <% end %>
      </table>
      <%= link_to "Create Item Manifest", new_item_path(@project.user_name, @project.repo_name), class: "btn btn-primary" %>
      <%= link_to "Import Existing Manifest", new_import_item_path(@project.user_name, @project.repo_name), class: "btn btn-primary" %>
      <%= link_to "Create Page", new_page_path(@project.user_name, @project.repo_name), class: "btn btn-primary" %>
    </div>
  </div>
</div>