<%= form_with(model: @item, url: create_item_path, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li class="invalid"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :label, class: "col-sm-2 col-form-label"  %>
    <div class="col-sm-4">
      <%= form.text_field :label, class: 'form-control', required: 'true' %>
    </div>
  </div>
  <div class="field">
    <%= form.label :audio_url, 'Audio File URL', class: "col-sm-2 col-form-label"  %>
    <div class="col-sm-4">
      <%= form.text_field :audio_url, class: 'form-control', required: 'true' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :duration, 'Duration (seconds)', class: "col-sm-2 col-form-label"  %>
    <div class="col-sm-4">
      <%= form.text_field :duration, class: 'form-control', required: 'true' %>
    </div>
  </div>

  <div class="field">
    <%= form.label :homepage, 'Item Homepage', class: "col-sm-2 col-form-label"  %>
    <div class="col-sm-4">
      <%= form.text_field :homepage, class: 'form-control' %>
    </div>
  </div>


  <fieldset class="form-group">
    <div class="field">
      <%= form.label :provider_label, 'Provider Name', class: "col-sm-2 col-form-label"  %>
      <div class="col-sm-4">
        <%= form.text_field :provider_label, class: 'form-control' %>
      </div>
    </div>

    <div class="field">
      <%= form.label :provider_uri, 'Provider URL', class: "col-sm-2 col-form-label"  %>
      <div class="col-sm-4">
        <%= form.text_field :provider_uri, class: 'form-control' %>
      </div>
    </div> 
  </fieldset>

  <%= form.hidden_field(:repo_name) %>
  <%= form.hidden_field(:user_name) %>

  <div class="actions">
    <%= form.submit(class: "btn btn-light") %>
  </div>
<% end %>
