<div id='notice-container' class="container">
  <div class="row">
    <div class="col-sm-11" >
      <h2>
        <%= link_to 'My Projects', my_projects_path %> 
        | 
        <%= link_to @item.repo_name, project_path(@item.user_name, @item.repo_name) %>
        |
        <%= link_to @item.label, item_path(@item.user_name, @item.repo_name, @item.label) %>      
      </h2>
    </div>
    <%= render 'shared/build_status' %>
  </div>
  <div id="notice"><%= notice %></div>
  The GitHub Pages site for <%= @item.label %> is <%= link_to @item.uri_root, @item.uri_root %><br />
  The IIIF manifest for <%= @item.label %> is at <%= link_to @item.manifest_uri, @item.manifest_uri %>
</div>

<div id='actions' class="container">
  <%= link_to 'Edit', edit_item_path(@item.user_name, @item.repo_name, @item.slug) %>
  <%= link_to 'Delete', destroy_item_path(@item.user_name, @item.repo_name, @item.slug) %>
</div>


<div id='actions' class="container">

<%= render 'form', item: @item, form_path: update_item_path %>

</div>
