<p id="notice"><%= notice %></p>

<div>
  The IIIF manifest for <%= @item.label %> is at <%= link_to @item.manifest_uri, @item.manifest_uri %>
</div>

<div>
  Annotations
  <ul>
    <% @item.canvases.each do |canvas| %>
      <li>
        <%= canvas.position %>
        <% canvas.annotation_pages.each do |page| %>
          <%= page.label %>
          <ul>
            <% page.annotations.each do |annotation| %>
              <li><%= annotation.start_time %>: <%= annotation.text %></li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %> 
    
  </ul>
</div>

<div>
  Add annotation file
  <%= form_with(model: @item, url: add_annotation_file_path, local: true) do |form| %>


    <div class="field">
      <%= form.label :layer %>
      <%= form.text_field :layer %><br />
    </div>

    <div class="field">
      <%= form.label :annotation_file %>
      <%= form.file_field :annotation_file %>
    </div>

    <%= form.hidden_field(:label) %>
    <%= form.hidden_field(:repo_name) %>
    <%= form.hidden_field(:user_name) %>

    <div class="actions">
      <%= form.submit 'Add' %>
    </div>
  <% end %>
</div>


<%= link_to 'Back', project_path(@item.user_name, @item.repo_name) %>
