
<div id='notice-container' class="container">
  <div class="row">
    <div class="col-sm-11" >
      <h2>
        <%= link_to 'My Projects', my_projects_path %> 
        | 
        <%= link_to @item.repo_name, project_path(@item.user_name, @item.repo_name) %>
        |
        <%= link_to @item.label, item_path(@item.user_name, @item.repo_name, @item.label) %>      
      </h2>
    </div>
    <%= render 'shared/build_status' %>
  </div>
  <div id="notice"><%= notice %></div>
  The GitHub Pages site for <%= @item.label %> is <%= link_to @item.uri_root, @item.uri_root %><br />
  The IIIF manifest for <%= @item.label %> is at <%= link_to @item.manifest_uri, @item.manifest_uri %>
</div>

<div id='annotation-list' class="container">
  <h2>Annotations</h2>
  <table id="annotation-table" class="table table-bordered table-dark">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Text</th>
        <th>Layer</th>
      </tr>
    </thead>
    <tbody>
      <% @item.canvases.each do |canvas| %>
        <% canvas.annotation_pages.each do |page| %>
          <% page.annotations.each do |annotation| %>
            <tr>
              <td>
                <%= annotation.start_time %>
              </td>
              <td>
                <%= annotation.text %>
              </td>
              <td>
                <%= page.label %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %> 
    </tbody>
  </table>
</div>

<div id='add-annotation-form' class="container">
  <h2>Add annotation file</h2>
  <%= form_with(model: @item, url: add_annotation_file_path, local: true) do |form| %>


    <div class="form-group row">
      <%= form.label :layer, "Layer Label", class: "col-sm-2 col-form-label" %>
      <div class="col-sm-4">
        <%= form.text_field :layer, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label :annotation_file, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-4">
        <%= form.file_field :annotation_file, class: 'form-control' %>
      </div>
    </div>

    <%= form.hidden_field(:label) %>
    <%= form.hidden_field(:repo_name) %>
    <%= form.hidden_field(:user_name) %>

    <div class="actions">
      <%= form.submit('Add', class: "btn btn-light") %>
    </div>
  <% end %>

  <%= link_to 'Back', project_path(@item.user_name, @item.repo_name) %>
</div>

<script>
$(document).ready( function() {
    $('#annotation-table').DataTable(
  { paging: false }
);
} );
</script>
