
<div id='notice-container' class="container">
  <div class="row">
    <div class="col-sm-11" >
      <h2>
        <%= link_to 'My Projects', my_projects_path %> 
        | 
        <%= link_to @item.repo_name, project_path(@item.user_name, @item.repo_name) %>
        |
        <%= link_to @item.label, item_path(@item.user_name, @item.repo_name, @item.slug) %>      
      </h2>
    </div>
    <%= render 'shared/build_status' %>
  </div>
  <div id="notice"><%= notice %></div>
  The GitHub Pages site for <%= @item.label %> is <%= link_to @item.uri_root, @item.uri_root %><br />
  The IIIF manifest for <%= @item.label %> is at <%= link_to @item.manifest_uri, @item.manifest_uri %>    <br />
  You can add introductory material by modifying <%= link_to "#{@item.slug}.md", "https://github.com/#{@project.user_name}/#{@project.repo_name}/edit/gh-pages/pages/#{@item.slug}.md" %>
  <div id='actions' class="container">
    <div class="row">
      <%= button_to 'Edit Item', edit_item_path(@item.user_name, @item.repo_name, @item.slug), method: 'get', class: "btn btn-light" %>
      <%= button_to 'Delete Item', destroy_item_path(@item.user_name, @item.repo_name, @item.slug), method: 'delete', class: "btn btn-light" %>
    </div>
  </div>
</div>
<div id='annotation-list' class="container">
  <h2>Annotations</h2>
  <table id="annotation-table" class="table table-bordered table-dark">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Text</th>
        <th>Layer</th>
      </tr>
    </thead>
    <tbody>
      <% @item.canvases.each do |canvas| %>
        <% canvas.annotation_pages.each do |page| %>
          <% page.annotations.each do |annotation| %>
            <% if annotation.start_time #sanity check %>
              <tr>
                <td data-sort="<%= annotation.start_time.split(",").first %>">
                  <%= annotation.start_time %>
                </td>
                <td>
                  <%= annotation.text %>
                  <% unless annotation.terms.empty? %>
                    <br/>
                    <b>Terms: </b> <i><%= annotation.terms.join(", ") %></i>
                  <% end %>
                </td>
                <td>
                  <%= page.label %>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      <% end %> 
    </tbody>
  </table>
</div>

<% unless @item.external_manifest_url.blank? %>
  <% if @item.manifest_json['items'].first %>
    <% external_annotation_pages = @item.manifest_json['items'].first['annotations'] %>
    <% if external_annotation_pages && external_annotation_pages.size > 0 %>
      <div id='import-annotation-form' class="container">
        <div class="row">
          <div class="col-sm-4">
            <h3>Import annotations</h3>
            <% external_annotation_pages.each do |external_page| %>
              <div class="row">
                <!-- the structures in thsi manifest look suspicious: why not have an array of label hashes?  Why have the value of the 'en' key be an array?  this might have been a mis-reading of the spec -->
                <div class="col-sm-12">
                  <% encoded_url = Base64.encode64(external_page['id']).gsub("\n",'') %>
                  <% if external_page['label'].is_a? String 
                       page_label = external_page['label'] 
                     else
                       page_label = external_page['label'].values.first
                     end %> 


                  <%= link_to(page_label, 
                              review_external_annotations_path( @item.user_name, 
                                                                @item.repo_name, 
                                                                @item.slug, 
                                                                encoded_url))   %>
                </div>                 
              </div>                 
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>



<div id='add-annotation-form' class="container">
  <div class="row">
    <div class="col-sm-8">
        <h3>Add annotation file</h3>
      <%= form_with(model: @item, url: add_annotation_file_path, local: true) do |form| %>

      <div class="form-group row">
        <%= form.label :annotation_file, "Annotation File*", class: "col-sm-12 col-form-label" %>
        <div class="col-sm-12">
          <%= form.file_field :annotation_file, class: 'form-control' %>
        </div>
      </div>

      <%= form.hidden_field(:label) %>
      <%= form.hidden_field(:repo_name) %>
      <%= form.hidden_field(:user_name) %>

      <div class="actions">
        <%= form.submit('Add', class: "btn btn-light") %>
      </div>
      <% end %>
    </div>
    <div class="col-sm-4 inline-explanation">
      <p>You’ll add the annotations that correspond with your project’s audiovisual item. This should be uploaded in an Excel file, or a tab separated (.tsv) or comma separated (.csv) file. If you have multiple annotation layers, you can upload them individually.  Your annotations will be generated on the next screen.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
    <h3> Annotation Layers </h3>
      <% @item.canvases.each do |canvas| %>
      <% canvas.annotation_pages.each do |page| %>
        <%= page.label %> <%= link_to("Delete", delete_annotation_layer_path(@item.user_name, @item.repo_name, @item.slug, page.label)) %><br/>
      <% end %>
    <% end %>
  </div>
    <div class="col-sm-4 inline-explanation">
    <p>To delete annotations you need to delete their layers.  Annotations cannot be edited, only deleted and recreated through a new upload.</p>
  </div>
</div>
  <div class="row">
    <div class="col-sm-8">
    <h3> Annotation Files </h3>
      <% @item.canvases.each do |canvas| %>
        <% canvas.annotation_files.each do |file| %>
          <%= file %> <%= link_to("Download", download_annotation_file_path(@item.user_name, @item.repo_name, @item.slug, file)) %> <%= link_to("Delete", delete_annotation_file_path(@item.user_name, @item.repo_name, @item.slug, file), :data => {:confirm => "Are you sure you want to delete #{file}?"}) %><br/>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-4 inline-explanation">
      <p>Annotation files are saved for archival purposes.  You can download and work with a file, but deleting these files doesn't change your project.</p>
    </div>
  </div>

</div>

<script>
  $(document).ready( function() {
    $('#annotation-table').DataTable(
      { paging: false }
      );
  } );
</script>
