<p id="notice"><%= notice %></p>

<div>
  The IIIF manifest for <%= @item.label %> is at <%= link_to @item.manifest_uri, @item.manifest_uri %>
</div>

<div>
  Annotations
  <ul>
    <% @item.canvases.each do |canvas| %>
      <li>
        <%= canvas.position %>
        <% canvas.annotation_pages do |page| %>
          <ul>
            <li>individual annotations here </li>
          </ul>
        <% end %>
      </li>
    <% end %> 
    
  </ul>
</div>

<div>
  Add annotation file
</div>


<%= link_to 'Back', project_path(@item.user_name, @item.repo_name) %>
