<p id="notice"><%= notice %></p>

<div>
  The IIIF manifest for <%= @item.label %> is at <%= link_to @item.manifest_uri, @item.manifest_uri %>
</div>

<div>
  Annotation layers list
  <% @item.canvases.each do |canvas| %>
    <%= canvas.position %>
    <% canvas.annotation_pages do |page| %>

    <% end %>
  <% end %> 
</div>

<div>
  Add annotation
</div>


<%= link_to 'Back', project_path(@item.user_name, @item.repo_name) %>
