<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<!DOCTYPE html>
<html>
  <head>
    <title>AudiAnnotate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">AudiAnnotate</a>
      <% if session[:github_token] %>
        <div class="text-light"><%= link_to 'My Projects | ', my_projects_path() %>
        <%= link_to 'Sign Out', '/user/logout' %></div>
      <% else %>
      <div class="text-light">Create your own project on AudiAnnotate by signing in with Github <%= link_to 'Sign in', '/auth/github', :class => "btn btn-light btn-lg" %></div>
      <% end %>
    </nav>
    <div class="bg text-light">
      <%= yield %>
    </div>
  </body>

  <footer class="footer py-1">
  <div class="container">
    <span class="text-white float-right"><a href="https://hipstas.org/audiannotate/">About AudiAnnotate</a></span>
  </div>
</footer>
</html>
