<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<!DOCTYPE html>
<html>
  <head>
    <title>AudiAnnotate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">AudiAnnotate</a>
      <% if @github_client %>
        <%= @github_client.user.login %>
      <% else %>
        <%= link_to 'Sign in', '/auth/github' %>
      <% end %>
    </nav>
    <div class="bg text-light">
      <%= yield %>
    </div>
  </body>

  <footer class="footer fixed-bottom py-1">
  <div class="container">
    <span class="text-white"><a href="https://hipstas.org/audiannotate/">About AudiAnnotate</a></span>
  </div>
</footer>
</html>
