<div id='notice-container' class="container">
  <div class="row">
    <div class="col-sm-11" >
      <h2>
        <%= link_to 'My Projects', my_projects_path %> 
        | 
        <%= link_to @page.repo_name, project_path(@page.user_name, @page.repo_name) %>
        |
        <%= link_to @page.title, page_path(@page.user_name, @page.repo_name, @page.title) %>      
      </h2>
    </div>
    <%= render 'shared/build_status' %>
  </div>
  <div id="notice"><%= notice %></div>
  The GitHub Pages site for <%= @page.title %> is <%= link_to @page.uri_root, @page.uri_root %><br />
</div>

<div id='actions' class="container">
  <%= link_to 'Edit', edit_page_path(@page.user_name, @page.repo_name, @page.slug) %>
  <%= link_to 'Delete', destroy_page_path(@page.user_name, @page.repo_name, @page.slug) %>
</div>


<div id='actions' class="container">

<%= render 'form', item: @page, form_path: update_page_path %>

</div>
